HRR.Website/Service References/HRRComments/Comments2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AutoCompleteBoxData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Context" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfAutoCompleteBoxItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoCompleteBoxData" nillable="true" type="tns:AutoCompleteBoxData" />
  <xs:complexType name="ArrayOfAutoCompleteBoxItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoCompleteBoxItemData" nillable="true" type="tns:AutoCompleteBoxItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoCompleteBoxItemData" nillable="true" type="tns:ArrayOfAutoCompleteBoxItemData" />
  <xs:complexType name="AutoCompleteBoxItemData">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoCompleteBoxItemData" nillable="true" type="tns:AutoCompleteBoxItemData" />
</xs:schema>