HRR.Website/Service References/HRRComments/Comments5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CommentCategory" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="CommentType" type="xs:int" />
      <xs:element minOccurs="0" name="Communication" nillable="true" type="tns:ArrayOfCommentResponse" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EnteredFor" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredForRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="FlaggedAsInappropriate" type="xs:boolean" />
      <xs:element minOccurs="0" name="FollowUpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FollowUpResolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IncludedInReview" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonNotIncludedInReview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityType" type="xs:int" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamRef" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="CommentCategory">
    <xs:sequence>
      <xs:element name="_x003C_AccountID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentCategory" nillable="true" type="tns:CommentCategory" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Absences" nillable="true" type="tns:ArrayOfAbsence" />
      <xs:element minOccurs="0" name="AcceptedTerms" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AccountRef" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentReview" nillable="true" type="tns:Review" />
      <xs:element minOccurs="0" name="CurrentReviews" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="DateAcceptedTerms" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentRef" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfDocument" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="FacebookPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoal" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LinkedInPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="ManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="MarkedForDeletion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Memberships" nillable="true" type="tns:ArrayOfTeamMember" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveCommentNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Teammates" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="TerminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwitterPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfAbsence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Absence" nillable="true" type="tns:Absence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbsence" nillable="true" type="tns:ArrayOfAbsence" />
  <xs:complexType name="Absence">
    <xs:sequence>
      <xs:element name="_x003C_AbsentCategoryID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_AccountID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_AccountRef_x003E_k__BackingField" nillable="true" type="tns:Account" />
      <xs:element name="_x003C_ChangedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_EnteredByRef_x003E_k__BackingField" nillable="true" type="tns:Person" />
      <xs:element name="_x003C_EnteredBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EnteredForRef_x003E_k__BackingField" nillable="true" type="tns:Person" />
      <xs:element name="_x003C_EnteredFor_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_FromDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_LastUpdated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Note_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ToDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Absence" nillable="true" type="tns:Absence" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="_x003C_ChangedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CommentsWeight_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Company_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Domain_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EnteredBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GoalsWeight_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_LastUpdated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LogoPath_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QuestionsWeight_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:simpleType name="ItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCOUNT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ABSENCE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACTIVITY">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLOG">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COMMENT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEPARTMENT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DOCUMENT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GOAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GOAL_MILESTONE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APPLICATION_EXCEPTION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APPLICATION_LOG">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOTIFICATION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOTIFICATION_SUBSCRIBER">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PERSON">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QUESTION_RATING_SCALE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QUESTION_RATING_SCALE_VALUE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW_NOTE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW_QUESTION_SCORE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW_TEMPLATE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW_TEMPLATE_QUESTION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TEAM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TEAM_MEMBER">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLOG_RESPONSE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COMMENT_RESPONSE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GOAL_COMMUNICATION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GOAL_MANAGER">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW_MANAGER">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DOCUMENTATION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MESSAGE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="CommentsWeight" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentReview" nillable="true" type="tns:Review" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EnteredFor" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredForRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoal" />
      <xs:element minOccurs="0" name="GoalsWeight" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCurrent" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Managers" nillable="true" type="tns:ArrayOfReviewManager" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="tns:ArrayOfReviewNote" />
      <xs:element minOccurs="0" name="QuestionsWeight" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewQuestionScores" nillable="true" type="tns:ArrayOfReviewQuestionScore" />
      <xs:element minOccurs="0" name="ReviewTemplateID" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfGoal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Goal" nillable="true" type="tns:Goal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoal" nillable="true" type="tns:ArrayOfGoal" />
  <xs:complexType name="Goal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="Communication" nillable="true" type="tns:ArrayOfGoalCommunication" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeEvaluation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EnteredFor" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredForRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="GoalType" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ManagerEvaluation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Managers" nillable="true" type="tns:ArrayOfGoalManager" />
      <xs:element minOccurs="0" name="Milestones" nillable="true" type="tns:ArrayOfGoalMilestone" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewID" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Goal" nillable="true" type="tns:Goal" />
  <xs:complexType name="ArrayOfGoalCommunication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalCommunication" nillable="true" type="tns:GoalCommunication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalCommunication" nillable="true" type="tns:ArrayOfGoalCommunication" />
  <xs:complexType name="GoalCommunication">
    <xs:sequence>
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_EnteredByRef_x003E_k__BackingField" nillable="true" type="tns:Person" />
      <xs:element name="_x003C_EnteredBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GoalID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GoalRef_x003E_k__BackingField" nillable="true" type="tns:Goal" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalCommunication" nillable="true" type="tns:GoalCommunication" />
  <xs:complexType name="ArrayOfGoalManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalManager" nillable="true" type="tns:GoalManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalManager" nillable="true" type="tns:ArrayOfGoalManager" />
  <xs:complexType name="GoalManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoalID" type="xs:int" />
      <xs:element minOccurs="0" name="GoalRef" nillable="true" type="tns:Goal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="RecievesNotifications" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalManager" nillable="true" type="tns:GoalManager" />
  <xs:complexType name="ArrayOfGoalMilestone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalMilestone" nillable="true" type="tns:GoalMilestone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalMilestone" nillable="true" type="tns:ArrayOfGoalMilestone" />
  <xs:complexType name="GoalMilestone">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeEvaluation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EnteredFor" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredForRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="GoalID" type="xs:int" />
      <xs:element minOccurs="0" name="GoalRef" nillable="true" type="tns:Goal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemType" type="tns:AlertType" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ManagerEvaluation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalMilestone" nillable="true" type="tns:GoalMilestone" />
  <xs:simpleType name="AlertType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GOAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MILESTONE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVIEW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlertType" nillable="true" type="tns:AlertType" />
  <xs:complexType name="ArrayOfReviewManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewManager" nillable="true" type="tns:ReviewManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewManager" nillable="true" type="tns:ArrayOfReviewManager" />
  <xs:complexType name="ReviewManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="RecievesNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReviewID" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewRef" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewManager" nillable="true" type="tns:ReviewManager" />
  <xs:complexType name="ArrayOfReviewNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewNote" nillable="true" type="tns:ReviewNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewNote" nillable="true" type="tns:ArrayOfReviewNote" />
  <xs:complexType name="ReviewNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ChangedByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredByRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EnteredFor" type="xs:int" />
      <xs:element minOccurs="0" name="EnteredForRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewID" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewRef" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewNote" nillable="true" type="tns:ReviewNote" />
  <xs:complexType name="ArrayOfReviewQuestionScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewQuestionScore" nillable="true" type="tns:ReviewQuestionScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewQuestionScore" nillable="true" type="tns:ArrayOfReviewQuestionScore" />
  <xs:complexType name="ReviewQuestionScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:ReviewTemplateQuestion" />
      <xs:element minOccurs="0" name="ReviewID" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewQuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewQuestionScore" nillable="true" type="tns:ReviewQuestionScore" />
  <xs:complexType name="ReviewTemplateQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CommentCategory" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionRatingScaleID" type="xs:int" />
      <xs:element minOccurs="0" name="RatingScale" nillable="true" type="tns:QuestionRatingScale" />
      <xs:element minOccurs="0" name="ReviewTemplateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewTemplateQuestion" nillable="true" type="tns:ReviewTemplateQuestion" />
  <xs:complexType name="QuestionRatingScale">
    <xs:sequence>
      <xs:element name="_values" nillable="true" type="tns:ArrayOfQuestionRatingScaleValue" />
      <xs:element name="_x003C_AccountID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionRatingScale" nillable="true" type="tns:QuestionRatingScale" />
  <xs:complexType name="ArrayOfQuestionRatingScaleValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionRatingScaleValue" nillable="true" type="tns:QuestionRatingScaleValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionRatingScaleValue" nillable="true" type="tns:ArrayOfQuestionRatingScaleValue" />
  <xs:complexType name="QuestionRatingScaleValue">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QuestionRatingScaleID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RatingScaleRef_x003E_k__BackingField" nillable="true" type="tns:QuestionRatingScale" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionRatingScaleValue" nillable="true" type="tns:QuestionRatingScaleValue" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element name="_people" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element name="_x003C_AccountID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedBy" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredBy" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfTeamMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamMember" nillable="true" type="tns:TeamMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamMember" nillable="true" type="tns:ArrayOfTeamMember" />
  <xs:complexType name="TeamMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasAccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonRef" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="RecievesNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamRef" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamMember" nillable="true" type="tns:TeamMember" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Members" nillable="true" type="tns:ArrayOfTeamMember" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentResponse" nillable="true" type="tns:CommentResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentResponse" nillable="true" type="tns:ArrayOfCommentResponse" />
  <xs:complexType name="CommentResponse">
    <xs:sequence>
      <xs:element name="_x003C_CommentID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CommentRef_x003E_k__BackingField" nillable="true" type="tns:Comment" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_EnteredByRef_x003E_k__BackingField" nillable="true" type="tns:Person" />
      <xs:element name="_x003C_EnteredBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ItemReference_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfItem_x003E_k__BackingField" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentResponse" nillable="true" type="tns:CommentResponse" />
</xs:schema>