HRR.Website/Service References/HRRComments/Comments4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHRRServices.GoalWeight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HRRServices.GoalWeight" nillable="true" type="tns:HRRServices.GoalWeight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHRRServices.GoalWeight" nillable="true" type="tns:ArrayOfHRRServices.GoalWeight" />
  <xs:complexType name="HRRServices.GoalWeight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HRRServices.GoalWeight" nillable="true" type="tns:HRRServices.GoalWeight" />
  <xs:complexType name="HRRServices.ReviewSetup">
    <xs:sequence>
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TemplateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HRRServices.ReviewSetup" nillable="true" type="tns:HRRServices.ReviewSetup" />
</xs:schema>