HRR.Website/Service References/HRRComments/Comments3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://beta.hrriver.com/" elementFormDefault="qualified" targetNamespace="https://beta.hrriver.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" />
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" />
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" />
  <xs:element name="GetByFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" minOccurs="0" name="GetByFiltersResult" nillable="true" type="q1:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListByFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListByFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCommentListByFiltersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertByDueDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertByDueDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAlertByDueDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUpcomingEventsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="context" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" minOccurs="0" name="GetPeopleNamesResult" nillable="true" type="q3:AutoCompleteBoxData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" minOccurs="0" name="goalJson" nillable="true" type="q4:Goal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGoalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoalsForWeightingByPersonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoalsForWeightingByPersonIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoalsForWeightingByPersonIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGoalWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" minOccurs="0" name="weights" nillable="true" type="q5:ArrayOfHRRServices.GoalWeight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGoalWeightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" minOccurs="0" name="person" nillable="true" type="q6:Person" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" minOccurs="0" name="reviewsetup" nillable="true" type="q7:HRRServices.ReviewSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldreview" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HRR.WCFServicesLib" minOccurs="0" name="reviewsetup" nillable="true" type="q8:HRRServices.ReviewSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseReviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>