HRR.Website_Backup_2012.09.10_08.17.35/Service References/HRRComments/Comments1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hrr.localhost/" elementFormDefault="qualified" targetNamespace="http://hrr.localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hrr.localhost/Comments.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" />
  <xs:element name="GetByFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRR.Core.Domain" minOccurs="0" name="GetByFiltersResult" nillable="true" type="q1:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListByFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListByFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCommentListByFiltersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>